* {
	box-sizing: border-box;
}

.casio {
	width: 200px;
	height: 300px;
	position: relative;
	border: 1px solid #000000;
}
.equal {
	padding: 5px;
}
#nhap {
	height: 50px;

	background-color: #ffffff;
	border: 1px solid #000000;
}
#result {
	height: 35px;
	width: 100%;
	border: 1px solid #000000;
	background-color: #ffffff;
	margin-top: 5px;
	text-align: center;
}
.btn {
	width: 198px;
	height: 200px;
	display:flex;
	flex-flow: row wrap;
	position: absolute;
	bottom: 0;

}
.btn button {
	width: 49.5px;
}
